= render "common/form_errors", :target => @tool
- form_for @tool do |form|
  = form.label :name
  = form.text_field :name
  = form.label :url
  = form.text_field :url
  = form.label :description
  = form.text_area :description
  %button{:type => "submit"}= params[:action].capitalize
  = link_to "Cancel", tools_path