= render "common/form_errors", :target => project
- form_for project do |form|
  = form.label :client
  = form.select :client_id, Client.all.map { |client| [client.name, client.id] }, { :include_blank => "Please select…" }
  = form.label :title
  = form.text_field :title
  = form.label :description
  = form.text_area :description
  = form.label :start_date
  = form.date_select :start_date, :discard_day => true, :discard_month => true, :include_blank => "Please select…"
  = form.label :end_date
  = form.date_select :end_date, date_select_options
  = form.label :url
  = form.text_field :url
  - # DANE COOKS! (Tools)
  %h2= Tool.model_name.human.pluralize
  %ul#tools
    - Tool.all(:order => :name).each do |tool|
      %li.tool
        = check_box_tag "project[tool_ids][]", tool.id, project.tool_ids.include?(tool.id), :class => "check_box tool_#{tool.id}", :id => "tool_#{tool.id}"
        = label_tag "tool_#{tool.id}", tool.name, :class => "check_box"
  %button{:type => "submit"}= params[:action].capitalize
  = link_to "Cancel", project