!!! 5
%html
  %head= render "common/head"
  %body{:class => body_class}
    #container
      %header= render "common/header"
      %section
        %h2#title= yield(:title) || "Pete Nawara"
        #flashes= render "common/flash"
        #content= yield
      %footer= render "common/footer"
